.container {
    min-width: 375px;
    color: white;
    margin: 0 auto;
    max-width: 750px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(78, 78, 239, 0.55);
    position: relative;
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* затемнение фона */
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
}
